@model IEnumerable<GameProject.Service.Common.WordService.Models.WordModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Список слов</h1>

<p>
    <a asp-action="Create">Добавить новое слово</a>
</p>
<table class="table">
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span style="color: blueviolet;">
                    @Html.DisplayFor(modelItem => item.SecretWord)
                </span>
                
                <br/>
                <span style="font-size: xx-small">@item.Question</span>
            </td>
              
            <td>
                @Html.ActionLink("Редактировать", "Create", new { wordId = item.Id }) |
                @Html.ActionLink("Удалить", "Remove", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>

